/*************** Reset ****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
* {
  font-family: inter;
  text-decoration: none;
  list-style: none;
  /* font-size: 15px; */
}
/** HEADER ALL **/
.logo {
  position: relative;
  margin-left: -60px;
  margin-top: 20px;
}
.logo img {
  height: 55px;
  width: 55px;
}
nav {
  background: #8b8b8b;
  display: flex;
  justify-content: space-between;
  height: 85px;
  line-height: 90px;
  padding: 0 5%;
}

nav .nav-list {
  display: flex;
  z-index: 1; /* kig lige på dette om det skal bruges*/
}
nav .nav-list .nav-item {
  cursor: pointer;
  height: 100%;
  padding: 0 20px;
  transition: 0.3s; /* skal muligvis ikke bruge*/
}
nav .nav-list .nav-item:hover {
  background: #383838;
  transition: 0.3s;
  /* height: 490px; */
}
nav .nav-list .nav-item .nav-link {
  color: #000000;
}
nav .nav-list .nav-item:hover .nav-link {
  /* kig lige på dette om det skal bruges*/
  /* overvejer AT BRUGE dette*/
  color: rgb(98, 210, 186); /* ordet */
  transition: 0.3s;
}
nav .menu-toggle .bar {
  /* linerne */
  width: 40px;
  height: 3px;
  background: transparent;
  margin-bottom: 10px;
  transition: 0.3s;
}
@media (max-width: 935px) {
  .logo {
    position: relative;
    margin-left: -12px;
    margin-top: 20px;
  }
  nav {
    padding: 0 5%;
  }
  nav .nav-list .nav-item {
    padding: 0 10px;
  }
}
@media (max-width: 675px) {
  .logo {
    position: relative;
    margin-left: -12px;
    margin-top: 20px;
  }
  nav .nav-list {
    display: grid;
    position: absolute;
    background: #8b8b8b;
    width: 100%;
    height: 100%;
    left: 0;
    top: 70px;
    z-index: 1;
    transform: translateY(-150%);
    transition: 0.8s linear;
  }
  nav .nav-list .nav-item {
    padding-left: 35px;
  }
  nav .menu-toggle {
    display: none; /* vigtigt tilfoj grid, men der er fejl slak det være none eller grid??*/
  }
  input {
    display: none;
  }
  nav .menu-toggle .bar {
    /* linerne */
    width: 40px;
    height: 3px;
    background: #ffffff;
    margin-bottom: 10px;
    transition: 0.3s;
  }
  nav .nav-list .nav-item:hover {
    height: 40px;
  }
  nav .nav-list .nav-item:hover {
    background: none; /* Fjern baggrundsfarven */
    transition: none; /* Fjern overgangseffekten */
    height: auto; /* Ændr højden til automatisk eller ønsket værdi */
    /* Du kan også bruge 'display: none;' eller andre egenskaber efter behov */
  }
}
nav .menu-toggle {
  display: grid; /*igen grid eller none*/ /* vigtigt skift fra grid til none til grid naar tilfojet i input */
  height: min-content;
  margin: 24px -10px 0 0;
  cursor: pointer;
  transition: 0.3s;
}

#check {
  display: none;
}
input:checked ~ nav .nav-list {
  transform: translateY(0);
}
input:checked ~ nav .menu-toggle {
  margin-top: 35px;
}
input:checked ~ nav .menu-toggle .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}
input:checked ~ nav .menu-toggle .bar:nth-child(2) {
  display: none;
}
input:checked ~ nav .menu-toggle .bar:nth-child(3) {
  transform: rotate(-45deg);
}
#check {
  display: none;
}

@media (max-width: 390px) {
  .logo {
    position: relative;
    margin-left: -6.5px;
    margin-top: 15px;
  }
  nav {
    background: #8b8b8b;
    display: flex;
    justify-content: space-between;
    height: 85px;
    line-height: 90px;
    padding: 0 5%;
    width: 390px;
  }
}
/** HEADER END **/

/** FOOTER START **/
.footer_txt p {
  font-size: 8px;
  margin-left: 27px;
  margin-top: 150px;
  writing-mode: vertical-lr; /* Ændrer tekstretningen til lodret fra venstre mod højre */
  transform-origin: top left; /* Angiver det øverste venstre hjørne som transformationens omdrejningspunkt */
  transform: rotate(-180deg); /* Drejer teksten lodret med -90 grader */
  height: 140px; /* Juster højden efter behov */
}
/** HEADER END **/
